.container{
    padding: 2rem 2%;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
}
.title{
    margin: 1rem auto;
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
}
.subtitle{
    margin: 1rem auto;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: wavy;
}
.formSearch{
    width: 50%;
    display: flex;
    background-color: none;
    margin: 1rem auto;
    padding: 1rem;
}
.search{
    padding: 1rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
    border: none;
    width: 100%;
    outline: none;

}
.btn{
    background-color: rgb(39, 81, 207);
    color: #fff;
    font-size: 1.2rem;
    padding: .5rem;
    border: none;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    outline: none;
    transition: .3s ease;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(40, 40, 241);
}
.btn2{
    margin: 1rem auto;
    padding: .5rem;
    background-color: rgb(50, 89, 205);
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: .2rem;
    transition: .3s ease;
}
.btn:hover{
    background-color: rgb(30, 30, 231);
}