body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active{
  background-color: rgba(240, 248, 255, 0.41);
  border-radius: .2rem;
  width: fit-content;
  padding: .2rem 1rem;
  
  
}
input::placeholder,
textarea::placeholder{
  font-family: 'Montserrat', sans-serif;
  border: none;
}
input:focus,
textarea:focus{
  outline: none;
  border: none;
}
.wrongPass{
  color: rgb(0, 0, 0);
  background-color: rgb(238, 70, 70)a(255, 0, 0, 0.404);
  width: 100%;
  border-radius: .5rem;
  padding: 1rem;
}